.navigation-content {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    color: $color-secondary;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: fit-content;
    z-index: 2;

    .nav-active {
        color: rgb(122, 122, 122);
    }

    // &:after {
    //     content: '';
    //     border-radius: 50%;
    //     position: absolute;
    //     border: 1px solid $color-tertiary;
    //     animation: circleAnimation 26s infinite alternate;
    //     height: 300px;
    //     width: 300px;
    //     left: -75px;
    //     bottom: 75px;
    //     z-index: 1;
    // }
}
