.contact-container {
    width: 500px;
    margin: 0 auto;
    color: $color-secondary;

    h1 {
        text-align: center;
    }

    .form {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
        }

        .form-submit {
            width: fit-content;
            padding: 5px 10px;
            font-size: 16px;

            i {
                margin-right: 5px;
            }
        }
    }

    .form-message {
        .success {
            color: green;
        }

        .error {
            color: red;
        }
    }
}
