.home-container {
    .home-about {
        width: 500px;
        margin: 0 auto;
        color: $color-secondary;
        text-align: center;

        img {
            user-select: none;
            border-radius: 100%;
            height: 200px;
        }
    }
}
