.project-container {
    width: auto;
    max-width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $color-secondary;

    .project-header {
        h1 {
            margin-bottom: 5px;
        }

        h2 {
            font-size: 16px;
            margin-bottom: 25px;
        }

        .project-languages {
            display: flex;
            flex-wrap: wrap;

            p {
                margin-bottom: 10px;
            }
        }
    }

    .project-body {
        display: flex;

        p {
            margin-left: 10px;
            max-width: 700px;
        }
    }

    img {
        height: auto;
        width: fit-content;
        max-width: 700px;
        border: 3px solid $color-primary;
        border-radius: 10px;
    }
}

@media (max-width: $bp-laptop) {
    .project-container {
        .project-body {
            flex-direction: column;

            p {
                margin: 10px 0 0 0;
            }
        }
    }
}

@media (max-width: $bp-tablet) {
    .project-container {
        .project-body {
            img {
                display: none;
            }
        }
    }
}
