@import './utils/settings';
@import './components/navigation';
@import './pages/contact';

html,
body,
#root {
    height: 100%;
    margin: 0;
    font-family: Michroma;
}

a {
    color: inherit;
    text-decoration: none;
}

.main-content {
    background-color: $color-primary;
    height: 100%;
}
